<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="toppings">Pick from our absolutely, totally, goddamnit teaching team, too large list of toppings</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="toppings-0">
      <input type="checkbox" name="toppings" id="toppings-0" value="1">
      Tomato
    </label>
    <label for="toppings-1">
      <input type="checkbox" name="toppings" id="toppings-1" value="2">
      Caramelized Onions
    </label>
    <label for="toppings-2">
      <input type="checkbox" name="toppings" id="toppings-2" value="3">
      Dijon
    </label>
    <label for="toppings-3">
      <input type="checkbox" name="toppings" id="toppings-3" value="4">
      Lettuce
    </label>
    <label for="toppings-4">
      <input type="checkbox" name="toppings" id="toppings-4" value="5">
      Pickle
    </label>
    <label for="toppings-5">
      <input type="checkbox" name="toppings" id="toppings-5" value="6">
      Bacon
    </label>
    <label for="toppings-6">
      <input type="checkbox" name="toppings" id="toppings-6" value="7">
      Maple
    </label>
    <label for="toppings-7">
      <input type="checkbox" name="toppings" id="toppings-7" value="8">
      Fried Egg
    </label>
    <label for="toppings-8">
      <input type="checkbox" name="toppings" id="toppings-8" value="9">
      Grilled Onions
    </label>
    <label for="toppings-9">
      <input type="checkbox" name="toppings" id="toppings-9" value="10">
      Ketchup
    </label>
    <label for="toppings-10">
      <input type="checkbox" name="toppings" id="toppings-10" value="11">
      Red Onion
    </label>
    <label for="toppings-11">
      <input type="checkbox" name="toppings" id="toppings-11" value="12">
      Hash Brown
    </label>
    <label for="toppings-12">
      <input type="checkbox" name="toppings" id="toppings-12" value="13">
      Sunny Side Egg
    </label>
    <label for="toppings-13">
      <input type="checkbox" name="toppings" id="toppings-13" value="14">
      Pickled Jalapenos
    </label>
    <label for="toppings-14">
      <input type="checkbox" name="toppings" id="toppings-14" value="15">
      Roasted Red Peppers
    </label>
    <label for="toppings-15">
      <input type="checkbox" name="toppings" id="toppings-15" value="16">
      Massaged Kale
    </label>
  </div>
  </div>
</div>
