<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="cheeses">Did you say ... CHEEEEEEESE?</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="cheeses-0">
      <input type="checkbox" name="cheeses" id="cheeses-0" value="1">
      Muenster
    </label>
    <label for="cheeses-1">
      <input type="checkbox" name="cheeses" id="cheeses-1" value="2">
      Swiss
    </label>
    <label for="cheeses-2">
      <input type="checkbox" name="cheeses" id="cheeses-2" value="3">
      Blue
    </label>
    <label for="cheeses-3">
      <input type="checkbox" name="cheeses" id="cheeses-3" value="4">
      American
    </label>
    <label for="cheeses-4">
      <input type="checkbox" name="cheeses" id="cheeses-4" value="5">
      Cheddar
    </label>
    <label for="cheeses-5">
      <input type="checkbox" name="cheeses" id="cheeses-5" value="6">
      Queso Blanco
    </label>
    <label for="cheeses-6">
      <input type="checkbox" name="cheeses" id="cheeses-6" value="7">
      Emmentaler
    </label>
  </div>
  </div>
</div>
