<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="meat">Meat</label>
  <div class="col-md-6">
    <select id="meat" name="meat" class="form-control">

      <option>Pick a meat!</option>
      <option value="1">Bison</option>
      <option value="2">Dry aged (28 days) brisket</option>
      <option value="3">Angus</option>
      <option value="4">Elk</option>
      <option value="5">Pork Belly</option>
      <option value="6">Pulled Pork</option>

    </select>
  </div>
</div>
