<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="temperature">Bun</label>
  <div class="col-md-6">
    <select id="bread" name="bread" class="form-control">
      <option>Pick a bun!</option>
      <option value="1">Brioche</option>
      <option value="2">Whole Wheat</option>
      <option value="3">White Sesame</option>
      <option value="4">White Bun</option>
      <option value="5">Focacchia</option>

    </select>
  </div>
</div>
