<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="temperature">Meat Doneness</label>
  <div class="col-md-6">
    <select id="done" name="done" class="form-control">

      <option>Pick a doneness!</option>
      <option value="rare">Rare</option>
      <option value="medium-rare">Medium Rare</option>
      <option value="medium">Medium</option>

    </select>
  </div>
</div>
