<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Single Burger</title>
  </head>
  <body>
    <div class="placeholderContainer">
      A single, delicious burger goes here.
      You should be passing an object to this page so you can refer to the specific burger looked up. See idContainer below for a start.

    </div>

    <div class="idContainer">
      <p>
        <%=burgerID%>
      </p>


    </div>

  </body>
</html>
