<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the burgers</title>
  </head>
  <body>

    <div class="placeholderContainer">
      Here's some proof you landed on the burger Gallery.
    </div>


  </body>
</html>
